# Ignore node_modules and local env files
node_modules
dist
.env
.env.local

# Ignore logs and system files
*.log
*.tsbuildinfo
.DS_Store

# Ignore test and debug files
coverage
test
__tests__

.git
.gitignore
Dockerfile
docker-compose.yml
npm-debug.log
tsconfig.json
test
coverage
.vscode
.idea
